<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.cxf.test.dao.TestDao">

	<select id="getAllTest" resultType="com.wang.cxf.test.model.Test">
		select id, name from test
	</select>

</mapper>
